@model Prueba5.Models.Estado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Estados</h2>

<fieldset>
    <legend>Estado</legend>

    <div class="display-label">NombreEstado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreEstado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
