@model Prueba5.Models.Recorrido

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Recorrido</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Recorrido</legend>

    <div class="display-label">numero</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numero)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
