@{
    ViewBag.Title = "Index";
}

<table align="center" style="width:100%;height:100%;">
    <tr>
        <td>  
        @using (Html.BeginForm("Index", "Search"))
        {
            <input type="submit" value="Obtenga información de los próximos buses!" />
        }
        </td>
        <td>   
        @using (Html.BeginForm("Index", "IngresarInformacion"))
        {
            <input type="submit" value="Vuélvase un TranSapo reportando!" />
        } 
        </td>
    </tr>
</table>